@page "/profile"
@using BlazorPractice1.ApiRequests.Model
@using BlazorPractice1.ApiRequests.Services
@using static BlazorPractice1.ApiRequests.Model.Auth
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject BlazorPractice1.ApiRequests.ApiRequest ApiRequest

<h1>Профиль</h1>
<p>@errorMessage</p>

<p>Email</p>
<input @bind-value="profileRequest.Email"/>
<p>Имя</p>
<input @bind-value="profileRequest.Name"/>
<p>Описание</p>
<input @bind-value="profileRequest.Description"/>
<p>Новый пароль</p>
<input @bind-value="profileRequest.Password" type="password" />

<button @onclick="SaveProfile">Сохранить</button>

<p>@succesMessage</p>

@code{

    private UpdateProfileRequest profileRequest = new UpdateProfileRequest();

    private string? errorMessage;

    private string? succesMessage;

    protected override void OnInitialized()
    {
        if (!AuthService.IsAuthenticated || AuthService.CurrentUser == null)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        profileRequest.Email = AuthService.CurrentUser.Email;
        profileRequest.Name = AuthService.CurrentUser.Name;
        profileRequest.Description = AuthService.CurrentUser.Description;
    }

    private async Task SaveProfile()
    {
        errorMessage = null;
        succesMessage = null;

        var result = await ApiRequest.UpdateProfileAsyncResponse(profileRequest, AuthService.Token);
        if (result == null || !result.status)
        {
            errorMessage = "Не удалось обновить профиль";
            return;
        }
        if(AuthService.CurrentUser != null && result.user != null)
        {
            AuthService.CurrentUser.Email = result.user.Email;
            AuthService.CurrentUser.Name = result.user.Name;
            AuthService.CurrentUser.Description = result.user.Description;
            AuthService.CurrentUser.Role_Id = result.user.Role_Id;
            AuthService.CurrentUser.Role = result.user.Role;
        }

        succesMessage = "Профиль обновлен";
        profileRequest.Password = string.Empty;
    }
}





















































































@* @page "/profile"
@using BlazorPractice1.ApiRequests
@using BlazorPractice1.ApiRequests.Model
@using BlazorPractice1.ApiRequests.Services

@inject NavigationManager Nav

<PageTitle>Profile</PageTitle>

<h1>Профиль</h1>
<p><b>Name:</b> @userService.CurrentUser.Name</p>
<input @bind="userService.CurrentUser.Name" />
<p><b>Email:</b> @userService.CurrentUser.Email</p>
<input @bind="userService.CurrentUser.Email" />
<p><b>Description:</b> @userService.CurrentUser.Description</p>
<input @bind="userService.CurrentUser.Description" />
<p><b>Password:</b> @userService.CurrentUser.Password</p>
<input @bind="userService.CurrentUser.Password" />
<button type="button" @onclick="Save">Сохранить</button>
<button class="btn btn-danger" @onclick="Logout">Выйти</button>

@code {
    [Inject] private ApiRequest apiRequest { get; set; }
    [Inject] private UserService userService { get; set; }
    private UpdateUserRequest updateUser = new UpdateUserRequest();
    protected override void OnInitialized()
    {
        if (userService.CurrentUser == null)
            Nav.NavigateTo("/login");

    }
    private async Task Save()
    {
        updateUser.id_User = userService.CurrentUser.id_User;
        updateUser.Name = userService.CurrentUser.Name;
        updateUser.Email = userService.CurrentUser.Email;
        updateUser.Description = userService.CurrentUser.Description;
        updateUser.Password = userService.CurrentUser.Password;
        var res = await apiRequest.UpdateUser(updateUser);

        if (res != null && res.status)
        {
            userService.CurrentUser = res.user;
        }
    }
    private void Logout()
        {
            userService.Logout();
            Nav.NavigateTo("/login", forceLoad: true);
        }
    }
} *@